*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}



:root {
    --gapping: 1.5rem;
    --logo-height:10dvh;
    --box-shadow: rgba(0, 0, 0, 0.25);
    --border-default-color: #E5E7EB;
    --border-valid-color: rgb(3, 170, 3);
    --border-invalid-color: rgb(248, 15, 15);
    --button-color: rgb(83, 151, 83);
    --button-down-color: #596D48;
    --focus-color: rgba(42, 102, 128, 0.747);
    font-family: 'Fira Sans', sans-serif;
}


form * {
    font: inherit;
}

fieldset {
    margin: ;
    max-width: min(95%, 50rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gapping);
    border: none;
    box-shadow: 0 1px 8px 0 var(--box-shadow);
    margin: 0 auto;
    margin-bottom: var(--gapping);
}

input {
    appearance: none;
    border-radius: 30px;
    border: 0.1rem solid var(--box-shadow);
    border-color: var(--border-default-color);
    padding: 0 0.5rem;
}

input:invalid {
    border-color: var(--border-invalid-color);
}

input:valid {
    border-color: var(--border-valid-color);
}

input:focus {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, var(--focus-color) 0px 2px 16px 0px;
}

input:focus-visible {
    border-color: rgba(42, 102, 128, 0.747);
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--button-color);
    border-radius: 25px;
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-down-color);
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: rgb(1, 48, 1);
}

a:active {
    color: black;
}

@media (max-width: 950px) {
    fieldset {
        display: flex;
        flex-direction: column;
        padding: var(--gapping) 0;
    }
    fieldset div {
        display: flex;
        flex-direction: column;
        padding: 0 min(10rem, 10%);
    }

}

@media (min-width: 951px) {
    fieldset div {
        margin: 0 auto;
        max-width: min-content;
    }

    fieldset input {
        margin: 0.5rem 0;
    }

    .window {
        display: flex;
    }
    
    .hero {
        height: 100dvh;
        max-width: 50rem;
        overflow: hidden;
        box-shadow: 1px 0 6px 4px var(--box-shadow);
    }
}


.hero {
    position: relative;
    overflow: clip;
}

.logo-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: calc(var(--logo-height) + 2rem);
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gapping) + 1rem);
}

.logo {
    height: var(--logo-height);
}


.left-image {
    height: 100dvh;
}

.hook-text {
    font-weight: 900;
    font-size: 2rem;
}

.main-content,
.main-content p {
    padding: var(--gapping);
}

.main-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--gapping) * 3);
    max-width: min(95%, 50rem);
    justify-content: space-between;
    gap: var(--gapping);
}

