*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}



:root {
    --gapping: 1.5rem;
    --logo-height:10dvh;
    --box-shadow: rgba(0, 0, 0, 0.25);
    font-family: 'Fira Sans', sans-serif;
}


form * {
    font: inherit;
}

fieldset {
    margin: ;
    max-width: min(95%, 50rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gapping);
    border: none;
    box-shadow: 0 1px 8px 0 var(--box-shadow);
    margin: 0 auto;
    margin-bottom: var(--gapping);
}

input {
    appearance: none;
    border-radius: 30px;
    border: 0.1rem solid var(--box-shadow);
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

@media (max-width: 950px) {
    fieldset {
        display: flex;
        flex-direction: column;
        padding: var(--gapping) 0;
    }
    fieldset div {
        display: flex;
        flex-direction: column;
        padding: 0 min(10rem, 10%);
    }

}

@media (min-width: 951px) {
    fieldset div {
        margin: 0 auto;
        max-width: min-content;
    }

    fieldset input {
        margin: 0.5rem 0;
    }

    .window {
        display: flex;
    }
    
    .hero {
        height: 100dvh;
        max-width: 50rem;
        overflow: hidden;
        box-shadow: 1px 0 6px 4px var(--box-shadow);
    }
}


.hero {
    position: relative;
    overflow: clip;
}

.logo-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: calc(var(--logo-height) + 2rem);
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gapping) + 1rem);
}

.logo {
    height: var(--logo-height);
}


.left-image {
    height: 100dvh;
}

.hook-text {
    font-weight: 900;
    font-size: 2rem;
}

.main-content,
.main-content p {
    padding: var(--gapping);
}

.main-content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--gapping) * 3);
    max-width: min(95%, 50rem);
    justify-content: space-between;
    gap: var(--gapping);
}

