*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}



:root {
    --gapping: 1.5rem;
    --logo-height:10dvh;
    font-family: 'Fira Sans', sans-serif;
}


form * {
    font: inherit;
}

fieldset {
    max-width: min(95%, 50rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gapping);

}

@media (max-width: 950px) {
    fieldset {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: var(--gapping) 0;
    }
    fieldset div {
        display: flex;
        flex-direction: column;
        padding: 0 min(10rem, 10%);
    }

}

@media (min-width: 951px) {
    fieldset div {
        margin: 0 auto;
        max-width: min-content;
    }

    fieldset input {
        margin: 0.5rem 0;
    }

    .window {
        display: flex;
    }
    
    .hero {
        flex: 1 1 40%; /* this needs to go once there's an image inserted here */
        height: 100dvh;
        max-width: 41rem;
        overflow: hidden;
        box-shadow: 1px 0 6px 4px rgba(0, 0, 0, 0.25);
    }
    
    .main-content {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }

}


.hero {
    position: relative;
}

.logo-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: calc(var(--logo-height) + 2rem);
    top: 20vh;
    display: flex;
    gap: calc(var(--gapping) * 2);
    padding: 1rem;
}

.logo {
    height: var(--logo-height);
}


.left-image {
    height: 100dvh;
    overflow-y: hidden;
}

.hook-text {
    font-weight: 900;
    font-size: 2rem;
}
